body, html {
    height: 100%;
    margin: 0;
}
  




svg text{
    fill:black ;
}

.axis text {
    font-family: sans-serif;
    font-size: 10px;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}

path {
    fill: none;
    stroke-width: 1px;
}









.line {
    transition: stroke-opacity 0.5s;
    stroke-width: 2.5px;
}

.line.faded {
    stroke-opacity: 0.1;
}

.line.highlight {
    stroke-width: 3.5px;
    stroke-opacity: 1;
}

.text {
    transition: fill-opacity 0.5s;
}

.text.faded {
    fill-opacity: 0.2;
}

.text.highlight {
    fill: #000;
    font-weight: bold;
    fill-opacity: 1;
}



