html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}





svg text{
    fill:black ;
}

.axis text {
    font-family: sans-serif;
    font-size: 10px;
}

#line-plot .tooltip, #pcp-plot .tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}


#line-plot path, #pcp-plot path{
    fill: none;
    stroke-width: 1px;
}








#line-plot .line {
    transition: stroke-opacity 0.5s;
    stroke-width: 4.5px;
}

#line-plot .line.faded {
    stroke-opacity: 0.1;
}

#line-plot .line.highlight {
    stroke-width: 5.5px;
    stroke-opacity: 1;
}

.text {
    transition: fill-opacity 0.5s;
}

.text.faded {
    fill-opacity: 0.2;
}

.text.highlight {
    fill: #000;
    font-weight: bold;
    fill-opacity: 1;
}



.container1 {
    display: flex;
    justify-content: space-around; 
}

.container1 > div {
    flex: 1;                 /* Each child div will take equal space */
}