<!DOCTYPE html>
<html>
<head>
    <title>CSE 564 Final Project</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://d3js.org/topojson.v3.min.js"></script>
    <script src="https://cdn.rawgit.com/jasondavies/d3-cloud/v1.2.5/build/d3.layout.cloud.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/3.0.5/seedrandom.min.js"></script>
</head>
<body>
    <div class="container1">
        <div>
            <div id="line-plot"></div>
            <div id="date-selector" ></div>
        </div>
        <div id="world-map"></div>
    </div>

    <div class="container2">
        <div id="pcp-plot"></div>
        <div id="sunburst-chart"></div>
        <div id="word-cloud"></div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
